@model SanityDotNet.Web.Test.Models.ViewModels.ProductViewModel

<h1>@Model.Product.Title</h1>
<p>@Model.Product.Id</p>
<p>@Model.Product.Blurb</p>
<time>@Model.Product.UpdatedAt</time>

@Model.Product.Body